{% extends "base.html.twig" %}

{% block body %}
    {% if tanks|length > 0 %}
        <div class="row">
            {% for tank in tanks %}
                <div class="col-sm-4">
                    <div>
                        <img class="img-responsive img-thumbnail" src="{{ path('image_resize', {'size': '360x210', 'filename': tank.image}) }}">
                    </div>
                    {% if tank.description %}
                        <div>
                            <p>{{ tank.description }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            <span>Nothing to compare</span>
        </div>
    {% endif %}
    <div>
        <a href="{{ path('tank_compare_clear') }}">Clear comparison</a>
    </div>
{% endblock %}
