{% extends "base.html.twig" %}
{% block edit %}
    <div>
        <a href="{{ path('tank_compare_add', {'slug': tank.slug}) }}">Compare</a>
    </div>
{% endblock %}
{% block body %}
    {% include "tank/tank.html.twig" %}
{% endblock %}
