{% extends "base.html.twig" %}

{% block body %}
    <div>
        <span>Tanks with same gun:</span>
        {% for tank in tanks %}
            <div>
                <span>
                    <a href="{{ path('tank_page', {'tank': tank.id}) }}">{{ tank.name }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
