{% extends "base.html.twig" %}
{% block edit %}
    <div>
        <a href="{{ path('gun_edit', {'gun': gun.id}) }}">Edit</a>
    </div>
{% endblock %}
{% block body %}
    {% include "gun/gun.html.twig" %}
    {% include "gun/gun_performance.html.twig" %}
{% endblock %}
