{% extends "base.html.twig" %}

{% block body %}
    <h3>Tanks:</h3>
    <ul>
        {% for tank in tanks %}
            <li>
                <a href="{{ path('tank_page', {'tank': tank.id}) }}">{{ tank.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Guns:</h3>
    <ul>
        {% for gun in guns %}
            <li>{{ gun.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
