{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tanks</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for tank in tanks %}
                            <li>
                                <a href="{{ path('tank_page', {'tank': tank.id}) }}">{{ tank.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Guns</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for gun in guns %}
                            <li>
                                <a href="{{ path('gun_page', {'gun': gun.id}) }}">{{ gun.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
